<% if target.errors.any? %>
<div class="errorExplanation">
	<p>There were problems with the following fields</p>
	<ul>
		<% target.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>