<div class="grid_12">
	<!-- Breadcrumb -->
	<div class="breadcrumb"><a href="#">Home</a> &gt; <a href="#">Customer Service</a> &gt; Contact Us</div>
	<div class="padded">
		<h1>Contact Us</h1>
		<div class="info closeable">
			We have created a comprehensive list of <a href="#">frequently asked questions</a> (FAQ) to help you making a reservation.<br />
			If you would like to cancel or amend your booking you can do it directly online by using <a href="#">My Bookings</a>. 
		</div>
	</div>
</div>

<!-- Contact form -->
<div class="grid_8">
	<div class="padded">
		<h3>Contact us by email</h3>
		<div class="box radius padded">
			<form name="contact" id="contact" method="post" action="">
				<div class="alert">Error message</div>
				<div class="success">Success message</div>
				<p>
					<label class="required" for="subject">Contact reason</label><br/>
					<select name="subject" id="subject">
						<option value="">Select one</option>
						<option value="booking">Problems booking a Hotel</option>
						<option value="cancelation">Changing or canceling a reservation</option>
						<option value="email_issue">Confirmation email issues</option>
						<option value="registration">Account registration / password issues</option>
						<option value="price">Price Match Guarantee</option>
						<option value="upcoming_trip">Questions about an upcoming trip</option>
						<option value="completed_trip">Issues with a completed trip</option>
						<option value="web_site_problem">Web site problems</option>
						<option value="call_center">Call center experience</option>
						<option value="other">Other</option>
					</select>					
				</p>
				<p>
					<label class="required" for="name">Your name</label><br/>
					<input type="text" id="name" class="half" value="" name="name"/>
				</p>
				<p>
					<label class="required" for="contactemail">Email</label><br/>
					<input type="text" id="contactemail" class="half" value="" name="contactemail"/>
				</p>
				<p>
					<label class="" for="phone">Phone</label><br/>
					<input type="text" id="phone" class="half" value="" name="phone"/>
				</p>
				<p>
					<label class="required" for="comments">Comments/Question</label><br/>
					<textarea id="comments" name="comments" class="full" rows="5" cols="50"></textarea>
				</p>
				<input type="submit" class="btn btn-custom radius" value="Send &raquo;" />
			</form>
			<p>&nbsp;</p>
			<p class="small">*) required</p>
		</div>
	</div>
</div>
<!-- End of Contact form -->

<!-- Right column -->
<div class="grid_4">
	<div class="padded">
		<h3>Customer Service by phone</h3>
		<div class="box radius padded">
			<p>Please don't hesitate to contact us if you need any information or if you have any questions you need answered or any suggestion you would like to make that might help us improve our service. </p>
			
			<h6>Opening hours</h6>

			<p>Monday to Friday: 24 hours</p>
			<p>Saturday and Sunday: 10:00 - 00:00 (CET)</p>
			<p>24 hours a day, 7 days a week</p>
			
			<h6>Call us for free</h6>
			
			<p class="callcenter"><small>USA</small><span>1-800-123-456789</span></p>
			<p class="callcenter"><small>International</small><span>+123-456-789000</span></p>
		</div>
	</div>
</div>
<!-- End of Right column -->

<p>&nbsp;</p>
<div class="clear">&nbsp;</div>

</div>