<div id="footer">
	<div class="container_12 padded">
		<div class="grid_3">
			<h3>Online Booking</h3>
			<p class="small">Copyright &copy; 2010 <b>Company Name</b><br />All rights reserved.</p>
			<p class="small">Book online or call: <b>1-800-123-456789</b></p>
			<a href="#"><img src="img/social/twitter.png" alt="twitter" /></a> 
			<a href="#"><img src="img/social/facebook.png" alt="facebook" /></a> 
			<a href="#"><img src="img/social/flickr.png" alt="flickr" /></a>
			<a href="#"><img src="img/social/youtube.png" alt="YouTube" /></a>
			<a href="#"><img src="img/social/rss.png" alt="RSS" /></a>
			<p class="small"><a href="#">Sitemap</a> &middot; <a href="#">Blog</a></p>
		</div>
		<div class='grid_3'>
			<h3>Suppliers, Affiliates, Media</h3>
			<ul>
				<li><a href="#">Add Hotel</a></li>
				<li><a href="#">Affiliate With Us</a></li>
				<li><a href="#">Promote With Us</a></li>
				<li><a href="#">Travel Agents</a></li>
				<li><a href="#">Press Office</a></li>
			</ul>
		</div>
		<div class='grid_3'>
			<h3>About</h3>
			<ul>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Partners</a></li>
				<li><a href="#">Customer Service</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li><a href="#">Privacy Statement</a></li>
			</ul>
		</div>
		<div class='grid_3'>
			<h3>Affiliate/Partner Login</h3>
			<form name="login" action="">
				<p>
					<label class="" for="email">Email</label><br/>
					<input type="text" id="email" class="full" value="" name="email"/>
				</p>
				<p>
					<label class="" for="password">Password</label><br/>
					<input type="password" id="password" class="full" value="" name="password"/>
				</p>
				<p>
					<input type="checkbox" id="remember" class="" value="1" name="remember" />
					<label class="choice" for="remember">Remember me</label>
				</p>
				<input type="submit" class="btn radius fr" value="Sign in &raquo;" />
			</form>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
</div>