<div id="subfooter">
	<div class="container_12 padded">
		<div class='grid_12'>
			<h5>Reasons for choosing us</h5>
		</div>
		<div class='grid_3'><b>Low rates</b><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
		<div class='grid_3'><b>Maximum choice</b><br />Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		<div class='grid_3'><b>Satisfied guests</b><br />Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
		<div class='grid_3'><b>We speak your language</b><br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		<div class="clear">&nbsp;</div>
	</div>
</div>